name: 'CD: Canary'

on:
  push:
    branches: [develop]

jobs:
  build:
    name: 'Makes a fresh canary build of tateru'
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [freebsd, linux, netbsd, openbsd]
        arch: [amd64, 386, arm, arm64]
        include:
          - os: darwin
            arch: amd64
          - os: dragonfly
            arch: amd64
          - os: windows
            arch: 386
          - os: windows
            arch: amd64
          - os: solaris
            arch: amd64
          - os: linux
            arch: mips
          - os: linux
            arch: mipsle
          - os: linux
            arch: mips64
          - os: linux
            arch: mips64le
          - os: linux
            arch: ppc64
          - os: linux
            arch: ppc64le
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.CANARY_DEPLOY }}
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.CANARY_DEPLOY }}
      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
          key: ${{ matrix.os }}-${{ matrix.arch }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.arch }}-go-

      - name: Setup Git
        env:
          USE_SSH: true
          GIT_USER: ${{ secrets.GH_USER }}

        run: |
          git config --global user.email '${{ secrets.GH_EMAIL }}'
          git config --global user.name '${{ secrets.GH_USER }}'
          mkdir build

      - name: Build Canary
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          CGO_ENABLED: 0
        run: |
          go build -ldflags="-s -w" -trimpath -o build/"$GOOS"-"$GOARCH"-tateru

      - name: Upload Binary
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ matrix.arch }}-tateru
          path: build/${{ matrix.os }}-${{ matrix.arch }}-tateru
          retention-days: 5

  release:
    name: 'Publishes the canary build to GitHub'
    needs: build
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.CANARY_DEPLOY }}
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.CANARY_DEPLOY }}
      - name: Setup Git
        env:
          USE_SSH: true
          GIT_USER: ${{ secrets.GH_USER }}

        run: |
          git config --global user.email '${{ secrets.GH_EMAIL }}'
          git config --global user.name '${{ secrets.GH_USER }}'
          mkdir build
          mkdir bin

      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          path: bin

      - name: Setup git upload
        env:
          USE_SSH: true
          GIT_USER: ${{ secrets.GH_USER }}
        run: |
          mv ./bin/**/*-tateru ./build
          cd ./build && ls
          git init
          git remote add origin git@github.com:${{ secrets.GH_USER }}/tateru.git
          git checkout -b canary-builds
          git branch --set-upstream-to=origin/canary-builds canary-builds
          cd ..

      - name: Release Canary Build
        env:
          USE_SSH: true
          GIT_USER: ${{ secrets.GH_USER }}
        run: |
          cd ./build
          git add --all

          if [[ $(git diff --stat --staged) != '' ]]; then
            git commit -m "Deploy canary - based on ${{ github.sha }}"
            git push --force --set-upstream origin canary-builds
          else
            echo "WD clean"
          fi
